---
interface Props {
	title: string
	description: string
}

import BaseHead from '../components/BaseHead.astro'
// import HeaderTop from '../components/react/HeaderTop'
import Header from '../components/vue/Header.vue'
import ThemeSwitch from '../components/ThemeSwitch.astro'
import Footer from '../components/vue/Footer.vue'
import Social from '../components/svelte/Social.svelte'
// TODO: @ para llegar a los componentes
// TODO: sacar de todos lados los
// TODO: Poner modo Dark
// TODO: Botón modo dark mejorado
// TODO: Traducir ui y contenido

const { title, description } = Astro.props
---

<style is:global>
	/* Estilos globales si quisiera que fueran accesibles desde cualquier componente */
</style>

<html lang="es">
	<BaseHead title={title} description={description} />
	<body class="h-screen bg-white dark:bg-gray-900">
		<!-- Componente Astro Islands en Vue.js al que paso un componente astro -->
		<Header client:load>
			<ThemeSwitch />
		</Header>
		<slot />
		<Footer>
			<Social />
		</Footer>
	</body>
</html>
